.footer {
position: relative;
float: left;
left: 0;
padding-top: 10%;
margin-bottom: 10rem;
/* width: 50%; */
}

.logo {
  width: 35%;
  margin: 0 1rem .5rem 0;
  position: fixed;
  bottom: 1rem;
  right: 0;
}

.text-div{
  margin-right: 2rem;
}

.text-div-bottom {
  margin-bottom: 1%;
}

.nullcon_logo {
  width: 30%;
  margin: 2rem auto;
  position: relative;
}

.center{
  width: 80%;
  margin: 2rem auto;
  position: relative;
}

.sponsor {
  width: 30%;
  display: inline-block;
  margin: 0 2rem 0 0;
}

.small_img{
  width: 4rem;
  margin: 0 0.2rem;
  padding: 0 1px;
  display: inline-block;
}

.nullcon_logo_2021 {
  width: 15rem;
  margin: 1rem auto;
  position: relative;
  display: inline-block;
}

.sponsor_sans {
  width: 40%;
  display: inline-block;
  margin: auto;
}

.medium_img{
  width: 20rem;
  margin: 1rem 1rem 0 0;
  padding: 0 1px;
  display: inline-block;
  border-radius: 25px;
}

.round-corners{
  width: 20rem;
  margin: 1rem 1rem 0 0;
  padding: 0 1px;
  display: inline-block;
  border-radius: 25px;
}

.font-highlight-golden{
  color: #b48608; 
  font-family: 'Droid serif', serif; 
  font-size: 36px; 
  font-weight: 400; 
  font-style: italic; 
  line-height: 44px; 
  margin: 0 0 12px; 
  text-align: center;
}