.logo {
  width: 32%;
  position: fixed;
  right: 2rem;
  bottom: 8%;
}

.text-section {
  display: inline-block;
  width: 70%;
  padding-right: 2rem;
}

.footer {
position: fixed;
bottom: 1%;
right: 10%;
}