.text-section {
  display: inline-block;
  width: 68%;
  margin: 0;
  padding-right: 2rem;
}

.footer {
position: relative;
float: left;
left: 13%;
bottom: 0;
}

.logo {
  width: 80%;
}

.vertical-center {
  display: flex;
  justify-content: center;
  width: 32%;
  height: 100%;
  position: fixed;
  /* float: right; */
  right: 5%;
  top: 15%;
  align-items: center;
}